<!DOCTYPE HTML>
<!--
        Arcana by HTML5 UP
        html5up.net | @ajlkn
        Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

    <head>
        <title>Datos Personales</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              crossorigin="anonymous">
        <!-- Plantilla -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous" />

    </head>

    <body>
        <div id="page-wrapper">

            <!-- Header -->
            <div id="header">

                <!-- Logo -->
                <h1><a id="logo"><em>HISTORIA CLINICA</em></a></h1>
            <!-- Main -->
            <section class="wrapper style1">
                <div class="container">
                    <form id="form_registro" name="form_registro" style="color: #333">
                        <div id="error"> </div>
                        <div>
                            <center><h1><b>Datos Personales</b></h1></center>
                        </div>
                        Nombres
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="nombre" name="nombre" type="text" class="form-control" placeholder="Nombres" required>
                        </div>

                        Apellidos
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="apellido" name="apellido" type="text" class="form-control" placeholder="Apellidos">
                        </div>

                        Edad
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="edad" name="edad" type="number" class="form-control" placeholder="Edad">
                        </div>

                        Genero
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="genero" name="genero" type="text" class="form-control" placeholder="Genero">
                        </div>

                        Fecha de Nacimiento
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="f_nacimiento" name="f_nacimiento" type="date" class="form-control" placeholder="Fecha de Nacimiento">
                        </div>

                        Domicilio
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="sector" name="sector" type="text" class="form-control" placeholder="Sector">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="calleP" name="calleP" type="text" class="form-control" placeholder="Calle Principal">
                            <input id="calleS" name="calleS" type="text" class="form-control" placeholder="Calle Secundaria">
                            <input id="referencia" name="descripcion" type="text" class="form-control" placeholder="Referencia">
                        </div>
                        
                        Correo Electronico:
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="correo" name="correo" type="email" class="form-control"
                                   placeholder="Correo Electronico">
                        </div>
                        
                        Telefono
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="telefono" name="telefono" type="text" class="form-control"
                                   placeholder="Numero de Telefono">
                        </div>

                        Telefono de Emergencia
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="telefonoE" name="telefonoE" type="text" class="form-control"
                                   placeholder="Numero de Telefono">
                        </div>

                        Motivo De Consulta
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="m_consulta" name="m_consulta" type="text" class="form-control"
                                   placeholder="Motivo de Consulta">
                        </div>

                        Enfermedad Padecida
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="enfermedad" name="enfermedad" type="text" class="form-control"
                                   placeholder="Enferemedad Padecida">
                        </div>

                        <div>
                            <center><h1><b>Antecedenter Personales y Familiares</b></h1></center>
                        </div>

                        Alergias al Antibiotico
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="alergia_antibiotico" name="alergia_antibiotico" type="text" class="form-control"
                                   placeholder="Alergias al Antibiotico">
                        </div>
                        
                        Alergias a la anestesia
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="alergia_anestesia" name="alergia_anestesia" type="text" class="form-control"
                                   placeholder="Alergias a la anestesia">
                        </div>
                        
                        Hemorragias
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="hemorragias" name="hemorragias" type="text" class="form-control"
                                   placeholder="Hemorragias">
                        </div>
                        
                        VIH/SIDA
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="VIH_SIDA" name="VIH_SIDA" type="text" class="form-control"
                                   placeholder="VIH/SIDA">
                        </div>
                        
                        Tuberculosis
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="Tuberculosis" name="Tuberculosis" type="text" class="form-control"
                                   placeholder="Tuberculosis">
                        </div>
                        
                        Asma
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="Asma" name="Asma" type="text" class="form-control"
                                   placeholder="Asma">
                        </div>
                        
                        Diabetes
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="Diabetes" name="Diabetes" type="text" class="form-control"
                                   placeholder="Diabetes">
                        </div>
                        
                        Hipertensi贸n
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="Hipertensi贸n" name="Hipertensi贸n" type="text" class="form-control"
                                   placeholder="Hipertensi贸n">
                        </div>
                        
                        Enfermedades Cardiacas
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="enf_cardiaca" name="enf_cardiaca" type="text" class="form-control"
                                   placeholder="Enfermedades Cardiacas">
                        </div>
                        
                        Medicamentos
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="medicamentos" name="medicamentos" type="text" class="form-control"
                                   placeholder="Medicamentos">
                        </div>
                        
                        Otros
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="otros" name="otros" type="text" class="form-control"
                                   placeholder="Otros">
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Registrar" class="btn float-right login_btn">
                        </div>
                    </form>
            </section>

            <!-- Footer -->
            <div id="footer">
                <div class="container">
                    <div class="row"></div>
                </div>
                

                <!-- Copyright -->
                <div class="copyright">
                    <ul class="menu">
                        <li>&copy; Untitled. All rights reserved</li>
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul> 
                </div>

            </div>

        </div>

        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.dropotron.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

    </body>

</html>