<!DOCTYPE HTML>
<!--
        Arcana by HTML5 UP
        html5up.net | @ajlkn
        Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

    <head>
        <title>Datos Personales</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              crossorigin="anonymous">
        <!-- Plantilla -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous" />

    </head>

    <body>
        <div id="page-wrapper">

            <!-- Header -->
            <div id="header">

                <!-- Logo -->
                <!-- Main -->
                <section class="wrapper style1">
                    <div class="container">
                        <form id="form_registro" name="form_registro" style="color: #333; text-align: left" action="/examen_extraoral" method="POST">
                            <div id="error"> </div>
                            <div>
                                <center><h1><b>Examen Del Sistema Estomatognatico</b></h1></center>
                            </div>
                            Labios
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input id="labios" name="labios" type="text" class="form-control" placeholder="Labios" required>
                            </div>

                            Mejillas
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input id="mejillas" name="mejillas" type="text" class="form-control" placeholder="Mejillas">
                            </div>

                            Maxilar Superior
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input id="m_superior" name="m_superior" type="text" class="form-control" placeholder="Maxilar Superior">
                            </div>

                            Maxilar Inferior
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input id="m_inferior" name="m_inferior" type="text" class="form-control" placeholder="Maxilar Inferior">
                            </div>

                            Lengua
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input id="lengua" name="lengua" type="text" class="form-control" placeholder="Lengua">
                            </div>

                            Paladar
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input id="paladar" name="paladar" type="text" class="form-control" placeholder="Paladar">
                            </div>

                            Piso
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input id="piso" name="piso" type="text" class="form-control"
                                       placeholder="Piso">
                            </div>

                            Carrillos
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input id="carrillos" name="carrillos" type="text" class="form-control"
                                       placeholder="Carrillos">
                            </div>

                            Glandulas Salivales
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input id="g_salivales" name="g_salivales" type="text" class="form-control"
                                       placeholder="Glandulas Salivales">
                            </div>

                            ATM
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input id="atm" name="atm" type="text" class="form-control"
                                       placeholder="ATM">
                            </div>

                            Oro Faringue
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input id="o_faringue" name="o_faringue" type="text" class="form-control"
                                       placeholder="Oro Faringue">
                            </div>

                            Ganglios
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input id="ganglios" name="ganglios" type="text" class="form-control"
                                       placeholder="Ganglios">
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn float-right login_btn">
                            </div>
                        </form>
                </section>

                <!-- Footer -->
                <div id="footer">
                    <div class="container">
                        <div class="row"></div>
                    </div>


                    <!-- Copyright -->
                    <div class="copyright">
                        <ul class="menu">
                            <li>&copy; Untitled. All rights reserved</li>
                            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul> 
                    </div>

                </div>

            </div>

            <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.dropotron.min.js"></script>
            <script src="assets/js/browser.min.js"></script>
            <script src="assets/js/breakpoints.min.js"></script>
            <script src="assets/js/util.js"></script>
            <script src="assets/js/main.js"></script>
        </div>   
    </body>

</html>
