<!DOCTYPE html>
<html>

    <head>
        <title>{{title}}</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/css/main.css" />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        
    </head>

    <body>
        <!-- Header -->
        <div id="header">

            <!-- Nav -->
            {{#if ocultar}}
            {{else}}
            <nav id="nav">
                <ul>
                    <li><a href="/perfil" id="logo">Principal</a></li>
                    <li>
                        <a href="#">Nuevo Paciente</a>
                        <ul>
                            <li><a href="/DatosPersonales">Datos Personales</a></li>
                            <li><a href="#">Examen Clinico</a>
                                <ul>
                                    <li><a href="/signos_vitales">Signos Vitales</a></li>
                                    <li><a href="/examen_extraoral">Examen Extraoral</a></li>
                                    <li><a href="/odontograma">Odontograma</a></li>
                                </ul>
                            </li>
                            <li><a href="/Diagnostico">Diagnostico</a></li>

                        </ul>
                    </li>
                    <li><a href="/buscar">Buscar</a></li>
                    <li><a href="#">Secuencia de Tratamiento</a></li>
                    <li><a href="/cerrar_sesion">Cerrar Sesion</a></li>
                </ul>
            </nav>
        </div>
        {{/if}}
        {{{body}}}
    </body>

</html>