<!DOCTYPE HTML>
<!--
	Arcana by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Diagnostico</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<div id="header">

			<!-- Logo -->
			<h1><a href="/Diagnostico.html" id="logo">Diagnostico<em></em></a></h1>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="/">Home</a></li>
					<li class="current">
						<a href="#">Nuevo Paciente</a>
						<ul>
							<li><a href="/DatosPersonales">Datos Personales</a></li>
							<li><a href="#">Examen Clinico</a>
								<ul>
									<li><a href="#">Signos Vitales</a></li>
									<li><a href="#">Examen Extraoral</a></li>
									<li><a href="/odontograma">Odontograma</a></li>
									<li><a href="#">Indice de Placa</a></li>
								</ul>
							</li>
							<li><a href="/Diagnostico">Diagnostico</a></li>
							<li><a href="#">Plan de Tratamiento</a></li>
						</ul>
					</li>
					<li><a href="#">Edicion</a></li>
					<li><a href="#">Secuencia de Tratamiento</a></li>
					<li><a href="#">Pagos</a></li>
					<li><a href="#">Pacientes Consecutivos</a></li>
					<li><a href="#">Cuenta</a>
						<ul>
							<li><a href="/login">Iniciar Sesion</a></li>
						</ul>
					</li>
				</ul>
			</nav>

		</div>

		<!-- Main -->
		<section class="wrapper style1">
			<div class="container">
                <textarea name="diagnostico" maxlength="400" rows="2" cols="40" placeholder="Escribe aqui...">1. </textarea>
                <textarea name="diagnostico" maxlength="400" rows="2" cols="40" placeholder="Escribe aqui...">2. </textarea>
                <textarea name="diagnostico" maxlength="400" rows="2" cols="40" placeholder="Escribe aqui...">3. </textarea>
                <textarea name="diagnostico" maxlength="400" rows="2" cols="40" placeholder="Escribe aqui...">4. </textarea>
                <textarea name="diagnostico" maxlength="400" rows="2" cols="40" placeholder="Escribe aqui...">5. </textarea>
                <textarea name="diagnostico" maxlength="400" rows="2" cols="40" placeholder="Escribe aqui...">6. </textarea>
                <textarea name="diagnostico" maxlength="400" rows="2" cols="40" placeholder="Escribe aqui...">7. </textarea>
                <textarea name="diagnostico" maxlength="400" rows="2" cols="40" placeholder="Escribe aqui...">8. </textarea>
                <textarea name="diagnostico" maxlength="400" rows="2" cols="40" placeholder="Escribe aqui...">9. </textarea>
                <textarea name="diagnostico" maxlength="400" rows="2" cols="40" placeholder="Escribe aqui...">10. </textarea>
                <textarea name="diagnostico" maxlength="400" rows="2" cols="40" placeholder="Escribe aqui...">11. </textarea>
                <textarea name="diagnostico" maxlength="400" rows="2" cols="40" placeholder="Escribe aqui...">12. </textarea>
			</div>
		</section>

		<!-- Footer -->
		<div id="footer">
			<div class="container">
			</div>

			<!-- Icons -->
			<ul class="icons">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
			</ul>

			<!-- Copyright -->
			<div class="copyright">
				<ul class="menu">
					<li>&copy; UNL. Todos los derechos reservados</li>
					<li>Creado por</li>: <a href="http://www.unl.edu.ec/">UNL</a></li>
				</ul>
			</div>

		</div>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>