<!DOCTYPE HTML>
<!--
        Arcana by HTML5 UP
        html5up.net | @ajlkn
        Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

    <head>
        <title>{{title}}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css" />
    </head>

    <body class="is-preload">
        <div id="page-wrapper">

            <!-- Header -->
            <!-- Footer -->
            <div id="footer">

                <div class="container">
                    <form id="registrar_plan" name="registrar_plan" action="/Plan" method="POST">
                        <div id="header">
                            <!-- Logo -->
                            <h1><a id="logo">{{title}}<em></em></a></h1>
                            <!-- Nav -->
                        </div>  
                        <section class="wrapper style1">
                            <div>
                                <textarea id="plan" name="plan" maxlength="200" rows="2" cols="40" >1. </textarea>
                                <textarea id="plan" name="plan" maxlength="200" rows="2" cols="40" >2. </textarea>
                                <textarea id="plan" name="plan" maxlength="200" rows="2" cols="40" >3. </textarea>
                                <textarea id="plan" name="plan" maxlength="200" rows="2" cols="40" >4. </textarea>
                                <textarea id="plan" name="plan" maxlength="200" rows="2" cols="40" >5. </textarea>
                                <textarea id="plan" name="plan" maxlength="200" rows="2" cols="40" >6. </textarea>
                                <textarea id="plan" name="plan" maxlength="200" rows="2" cols="40" >7. </textarea>
                                <textarea id="plan" name="plan" maxlength="200" rows="2" cols="40" >8. </textarea>
                                <textarea id="plan" name="plan" maxlength="200" rows="2" cols="40" >9. </textarea>
                                <textarea id="plan" name="plan" maxlength="200" rows="2" cols="40" >10. </textarea>
                                <textarea id="plan" name="plan" maxlength="200" rows="2" cols="40" >11. </textarea>
                                <textarea id="plan" name="plan" maxlength="200" rows="2" cols="40" >12. </textarea>
                            </div>
                        </section>
                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>

                <!-- Icons -->
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
                </ul>

                <!-- Copyright -->
                <div class="copyright">
                    <ul class="menu">
                        <li>&copy; UNL. Todos los derechos reservados</li>
                        <li>Creado por:UNL</li>
                    </ul>
                </div>

            </div>

        </div>

        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.dropotron.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

    </body>

</html>