<!DOCTYPE HTML>

<html>

    <head>
        <title>{{title}}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css" />
    </head>

    <body class="secretaria" >

        <div id="page-wrapper">
            <!-- Header -->
            <nav id="nav">
                <ul>
                    <li><a href="/perfil" id="logo">Principal</a></li>
                    <li><a href="/lista/pacientes/">Pacientes</a></li>
                    <li><a href="/citas">Citas</a></li>
                    <li><a href="/cerrar_sesion">Cerrar Sesion</a></li>
                </ul>
            </nav>
            <section>
                <div>
                    <center><h6 style="font-size: 200%">BIENVENIDO <br>  {{usuario}} <br> {{rol}}</h6></center>
                </div>
            </section>
            <!-- Logo -->
            <h1 style="margin-top: 3%">
                <center>
                    <img src="images/logo.jpeg" width="60%" height="40%" style="border-radius: 5%">
                </center>
            </h1>

            <!-- Footer -->
            <div id="footer">
                <div class="container">
                    <div class="row">
                    </div>
                </div>

                <!-- Icons -->
                <ul class="icons">
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="#" class="icon fa-google"><span class="label">Google</span></a></li>
                </ul>

                <!-- Copyright -->
                <div class="copyright">
                    <ul class="menu">
                        <li>&copy; UNL. Todos los derechos reservados</li>
                        <li>Creado por: <a href="http://www.unl.edu.ec/">UNL</a></li>
                    </ul>
                </div>
            </div>
        </div>
   
</body>

</html>
