<!DOCTYPE HTML>
<!--
        Arcana by HTML5 UP
        html5up.net | @ajlkn
        Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

    <head>
        <title>{{title}}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              crossorigin="anonymous">
        <!-- Plantilla -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous" />
        <script>
            function Historia(txt) {
            $.ajax({
            url: '/Diagnostico/' + txt,
                    type: 'GET',
                    dataType: 'JSON',
                    success: function (data, textStatus, jqXHR) {


                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.responseText);
                    }
            });
            }
        </script>
    </head>

    <body>
        <div id="page-wrapper">

            <!-- Header -->
            <div id="header">

                <!-- Logo -->
                <!-- Main -->
                <section class="wrapper style1">
                    <div class="container">
                        <form id="form_registro" name="form_registro" style="color: #333; text-align: left" action="/signos_vitales" method="POST">
                            <div id="error"> </div>
                            <div>
                                <center><h1><b>Signos Vitales</b></h1></center>
                            </div>
                            Historia Clinica
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                            <input id="historial" name="historial" type="text" class="form-control" value="{{Historia.n_historia}}" readonly="">
                            </div>
                            Precion Arterial
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input id="p_arterial" name="p_arterial" type="text" class="form-control" placeholder="Precion Arterial" required>
                            </div>

                            Temperatura
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input id="temperatura" name="temperatura" type="text" class="form-control" placeholder="Temperatura">
                            </div>

                            Frecuencia Cardiaca
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input id="f_cardiaca" name="f_cardiaca" type="number" class="form-control" placeholder="Frecuencia Cardiaca">
                            </div>

                            Respiraciones por Minuto
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input id="rpm" name="rpm" type="text" class="form-control" placeholder="Respiraciones por Minuto">
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Guardar" onclick="Historia({{Historia.n_historia}});" class="btn float-right login_btn">
                            </div>
                        </form>
                </section>

                <!-- Footer -->
                <div id="footer">
                    <div class="container">
                        <div class="row"></div>
                    </div>


                    <!-- Copyright -->
                    <div class="copyright">
                        <ul class="menu">
                            <li>&copy; Untitled. All rights reserved</li>
                            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul> 
                    </div>

                </div>

            </div>

            
        </div>   
    </body>

</html>
